# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Database
backend/liderlog.db
backend/liderlog.db.bak

# Uploads (Imagens de teste)
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
